[Desktop Entry]
Type=Service
Name=Wallhaven
Name[en]=Wallhaven
Name[de]=Wallhaven
Comment=Control Wallhaven wallpapers from KRunner
Comment[en]=Control Wallhaven wallpapers from KRunner
Comment[de]=Wallhaven-Hintergründe über KRunner steuern
Name[fr]=Wallhaven
Comment[fr]=Contrôler les fonds d'écran Wallhaven depuis KRunner
Icon=preferences-desktop-wallpaper
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-PluginInfo-Name=org.robertsm.wallhaven
X-KDE-PluginInfo-Version=3.2.0
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.robertsm.Wallhaven
X-Plasma-DBusRunner-Path=/runner
X-Plasma-Runner-Unique-Results=true
X-Plasma-Runner-Syntaxes=wh :q:,wallhaven :q:,wallhaven search :q:,wallhaven open,wallhaven block
X-Plasma-Runner-Syntax-Descriptions=Wallhaven command,Wallhaven command,Search Wallhaven for :q:,Open current wallpaper,Block current wallpaper
